build/
Release/
ReleaseIntermediate/
Release-Linux/
Debug/
DebugIntermediate/
Analysis
AnalysisIntermediate
testResults
*testResults*
V2ToHoI3.zip
changelog.txt
*.opensdf
*.opendb
*.sdf
*.VC.db
*.cppcheck
.vs/